___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___
# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [1]:
import pandas as pd

In [74]:
ecom=pd.read_csv("Ecommerce Purchases")

**Check the head of the DataFrame.**

In [47]:
ecom.head(1)

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14

** How many rows and columns are there? **

In [9]:
ecom.shape

(10000, 14)

** What is the average Purchase Price? **

In [10]:
ecom["Purchase Price"].mean()

50.34730200000025

** What were the highest and lowest purchase prices? **

In [11]:
ecom["Purchase Price"].min()

0.0

In [12]:
ecom["Purchase Price"].max()

99.99

** How many people have English 'en' as their Language of choice on the website? **

In [18]:
ecom.columns.values

array(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company',
       'Credit Card', 'CC Exp Date', 'CC Security Code', 'CC Provider',
       'Email', 'Job', 'IP Address', 'Language', 'Purchase Price'],
      dtype=object)

In [28]:
len(ecom[ecom["Language"]=="en"])

1098

In [31]:
ecom[ecom["Language"]=="Lawyer"].shape[0]

0

** How many people have the job title of "Lawyer" ? **

In [33]:
#ecom["Job"].unique

In [34]:
ecom[ecom["Job"]=="Lawyer"].shape[0]

30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [35]:
ecom["AM or PM"].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? **

In [37]:
ecom["Job"].value_counts().head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [42]:
ecom.loc[ecom["Lot"]=="90 WT","Purchase Price"]

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [44]:
ecom.loc[ecom["Credit Card"]==4926535242672853,"Email"]

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [51]:
ecom[(ecom["CC Provider"]=="American Express") & (ecom["Purchase Price"] > 95)].shape[0]

39

** Hard: How many people have a credit card that expires in 2025? **

In [88]:
co=0
for i in ecom["CC Exp Date"]:
    if i[3:]=="25" :
        #print(i)
        co=co+1
print(co)

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [92]:
(ecom["Email"].apply(lambda x:x.split("@")[1]).value_counts()).head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64

# Great Job!